<!DOCTYPE html>
<html>
<head>
  <title>Late Lab Apology</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/excuse">Excuse</a>
        <a href="/contact">Contact</a>
    </nav>


  <h1>😷 Sorry I Submitted This Lab Late 😷</h1>
  <p>This lab was due days ago, but my immune system decided to take a vacation. I regret nothing except the timing.</p>

  <img src="{{ url_for('static', filename='sick.jpg') }}" alt="Sick vibes">

  <p>This image represents my energy level during the week this lab was due. It was... not great.</p>
</body>
</html>
